body {
  background-color: rgb(8, 8, 8);
  text-align: center;
  color: aliceblue;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #000014;
  padding: 20px;
  width: auto;
  height: auto;
}

.main {
  text-align: center;
}

/*--------------- EXERCISE 1 STYLES ---------------- */
.exercise1 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

.node2 {
  text-align: center;
}

/*--------------- EXERCISE 2 STYLES ---------------- */
.exercise2 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

/*--------------- EXERCISE 3 STYLES ---------------- */
.exercise3 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}



/*--------------- EXERCISE 4 STYLES ---------------- */
#container {
  width: 200px;
  height: 200px;
  background: green;
  position: relative;
}

#box {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  animation: moveBox 2s linear 5;
}

.exercise4 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

/*--------------- EXERCISE 5 STYLES ---------------- */
.exercise5 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

#modal {
  position: fixed; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100%; 
  background-color: darkmagenta;
}

@keyframes moveBox {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 150px;
    top: 0px;
  }
  50% {
    left: 150px;
    top: 150px;
  }
  75% {
    left: 0px;
    top: 150px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}